.timeline {
	--color-accent: #400eb1;
	--color-background: #ffffff;
	--color-date-content: #ffffff;
	--color-text-bubble: var(--color-accent);
	--color-text-content: var(--color-date-content);
	/*  */
	--horizontal-spacing: 5rem;
	--horizontal-line-height: 2rem;
	--vertical-spacing: 3rem;
	--vertical-line-width: 2rem;
	--date-bubble-size: 150px;
	container-type: inline-size;
	background-color: var(--color-background);
}
.timeline .timeline__cell {
	--max-timeline-width: 1920px;
	width: 100%;
	max-width: var(--max-timeline-width, 100%);
	display: grid;
	grid-template-columns: var(--date-bubble-size) var(--horizontal-spacing) auto;
	grid-auto-rows: var(--date-bubble-size) auto var(--vertical-spacing);
	grid-template-areas:
		"date     horizontal text"
		"vertical .          text"
		"link     .          .";
	isolation: isolate;
}
.timeline__cell .timeline__date,
.timeline__cell .timeline__date--empty {
	grid-area: date;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
}
.timeline__cell .timeline__date {
	width: min(100%, var(--date-bubble-size));
	height: min(100%, var(--date-bubble-size));
	aspect-ratio: 1;
	color: var(--color-date-content);
}
.timeline__cell .timeline__date--empty {
	width: var(--vertical-line-width);
	height: calc(50% + var(--horizontal-line-height) / 2);
	justify-self: center;
}
.timeline__cell .timeline__horizontal {
	grid-area: horizontal;
	height: var(--horizontal-line-height);
	align-self: center;
}
.timeline__cell .timeline__text {
	grid-area: text;
	height: fit-content;
	margin-top: 20px;
	z-index: 2;
	color: var(--color-text-content);
	background-color: var(--color-text-bubble);
}
.timeline__cell .timeline__vertical {
	grid-area: vertical;
	width: var(--vertical-line-width);
	justify-self: center;
}
.timeline__cell .timeline__link {
	grid-area: link;
	width: var(--vertical-line-width);
	justify-self: center;
	position: relative;
}
@container (width > 550px) {
	.timeline__cell .timeline__date::before,
	.timeline__cell:not(:last-of-type) .timeline__date::after,
	.timeline__cell .timeline__date--empty::before,
	.timeline__cell:not(:last-of-type) .timeline__date--empty::after,
	.timeline__cell .timeline__link::after {
		content: "";
		position: absolute;
		background-color: inherit;
		z-index: -1;
	}
	.timeline__cell .timeline__date::before {
		width: calc(var(--date-bubble-size) / 2);
		height: var(--horizontal-line-height);
		left: 50%;
	}
	.timeline__cell .timeline__date--empty::before {
		width: calc(var(--date-bubble-size) / 2);
		height: var(--horizontal-line-height);
		left: 50%;
		bottom: 0;
	}
	.timeline__cell:not(:last-of-type) .timeline__date::after {
		width: var(--vertical-line-width);
		height: calc(var(--date-bubble-size) / 2);
		top: 50%;
	}
	.timeline__cell:not(:last-of-type) .timeline__date--empty::after {
		width: var(--vertical-line-width);
		height: calc(var(--date-bubble-size) / 2);
		top: 100%;
	}
	.timeline__cell .timeline__link::after {
		width: var(--vertical-line-width);
		height: calc(var(--date-bubble-size) / 2);
		top: 50%;
	}
}
.timeline__cell:last-of-type :is(.timeline__vertical, .timeline__link) {
	display: none;
}
@container (width <= 550px) {
	.timeline .timeline__cell {
		display: flex;
		flex-direction: column;
		align-items: center;
		--vertical-line-width: 2.5rem;
	}
	.timeline__cell .timeline__horizontal {
		--vertical-spacing: 2.5rem;
		height: var(--vertical-spacing);
		width: var(--vertical-line-width);
	}
	.timeline__cell .timeline__text {
		margin-top: 0;
	}
	.timeline__cell .timeline__vertical {
		display: none;
	}
	.timeline__cell .timeline__link {
		--vertical-spacing: 5rem;
		height: var(--vertical-spacing);
	}
	/*  */
	.timeline__cell .timeline__date::after,
	.timeline__cell .timeline__link::after {
		content: "";
		position: absolute;
		background-color: inherit;
		z-index: -1;
	}
	.timeline__cell .timeline__date::after {
		width: var(--vertical-line-width);
		height: calc(var(--date-bubble-size) / 2);
		top: 50%;
	}
	.timeline__cell .timeline__link::after {
		width: var(--vertical-line-width);
		height: calc(var(--date-bubble-size) / 2);
		top: 50%;
	}
}
