:root {
	--color-primary: #ffffff;
	--color-accent: #400eb1;

	--fs-xxl: clamp(2.4rem, 1.9946rem + 1.7297vw, 3.4rem);
	--fs-xl: clamp(2rem, 1.5541rem + 1.9027vw, 2.8rem);
	--fs-l: clamp(1.75rem, 1.4966rem + 1.0811vw, 2.375rem);
	--fs-ml: clamp(1.625rem, 1.3716rem + 1.0811vw, 2.125rem);
	--fs-m: clamp(1.5rem, 1.2973rem + 0.8649vw, 2rem);
	--fs-text: clamp(1.125rem, 0.973rem + 0.6486vw, 1.5rem);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
}
body::-webkit-scrollbar {
	display: none;
}
::selection {
	color: var(--color-primary);
	background-color: var(--color-accent);
}
img,
svg {
	max-width: 100%;
}
ul {
	list-style-type: none;
}
a {
	color: currentColor;
	text-decoration: none;
}
.hidden {
	display: none;
}
.uppercase {
	text-transform: uppercase;
}
.underline {
	text-decoration: underline;
}
.bold {
	font-weight: bold;
}
.italic {
	font-style: italic;
}
.bg-primary {
	background-color: var(--color-primary);
	color: var(--color-accent);
}
.bg-accent {
	background-color: var(--color-accent);
	color: var(--color-primary);
}
.section-padding-s {
	padding-inline: 6%;
}
.section-padding-m {
	padding-inline: 9%;
}
.section-padding-l {
	padding-inline: 12%;
}
.cta-button {
	display: inline-block;
	text-align: center;
	font-size: var(--fs-m);
	padding: 0.5em 1.6em;
	border-radius: 10px;
	cursor: pointer;
}
.section__title {
	font-size: var(--fs-l);
	font-weight: bold;
}
section p {
	font-size: var(--fs-text);
}
/*  */
.nav-main {
	display: none;

	position: fixed;
	left: 50%;
	translate: -50% 0;
	z-index: 999;
	bottom: 2.5%;
	width: 85%;
}
.nav-main ul {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	border: 5px solid var(--color-accent);
	border-radius: 18px;
	background: rgba(255 255 255 / 75%);
	backdrop-filter: blur(6px);
	font-size: 1.8rem;
	color: var(--color-accent);
	font-weight: bold;
	padding: 0.4em 1.2em;
	gap: 1.5rem;
}
.nav-main__link {
	display: flex;
	align-items: center;
	gap: 0.4em;
}
.nav-main__key {
	display: flex;
	justify-content: center;
	align-items: center;
	outline: 4px solid var(--color-accent);
	outline-offset: -4px;
	width: 50px;
	aspect-ratio: 1;
	border-radius: 12px;
	cursor: pointer;
}
.nav-main__key:hover {
	background-color: var(--color-accent);
	color: var(--color-primary);
}
/* Hero */
.hero-section {
	position: relative;
	min-height: 100vh;
	min-height: 100dvh;
	background-image: url(images/bg-gradient.webp);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	isolation: isolate;
	padding-top: 30vh;
	padding-top: 30dvh;
}
.hero-section h1 {
	font-size: var(--fs-xxl);
	line-height: 1.2em;
}
.hero-section h2 {
	font-size: 1.8rem;
	margin-top: 0.4em;
}
.hero-section .cta-button {
	margin-top: 0.7em;
}
.hero-img-cont {
	max-width: 850px;
	position: absolute;
	top: -15%;
	bottom: 0;
	right: 0;
	margin-left: 40%;
	z-index: -1;
	display: flex;
	align-items: center;
}
/* À propos */
.a-propos {
	position: relative;
	isolation: isolate;
	padding-block: 5.5rem;
	margin-bottom: 7rem;
	background-color: initial;
}
.a-propos::before,
.a-propos::after {
	content: "";
	background: var(--color-accent);
	position: absolute;
	inset: 0;
	z-index: -1;
	transform: skewY(-4deg);
}
.a-propos::before {
	transform-origin: top left;
}
.a-propos::after {
	transform-origin: bottom center;
}
.a-propos .section__title {
	font-size: var(--fs-l);
	margin-bottom: 1.8em;
}
.a-propos p {
	margin-bottom: 1.35em;
	line-height: 1.4;
}
/* Skills */
.mes-skills {
	margin-bottom: 8rem;
}
.mes-skills .section__title {
	text-align: center;
	margin-bottom: 1em;
}
.skills__board {
	display: flex;
	flex-wrap: wrap;
	border: 4px solid var(--color-accent);
	border-radius: 32px;
	text-align: center;
	box-shadow: -6px 6px 14px hsla(258, 85%, 40%, 30%);
}
.skills__cont {
	padding: 1.4rem;
	flex: 1 1 250px;
}
.skills__cont .img-cont {
	width: min(75px, 60%);
	margin-inline: auto;
}
.skills__title {
	font-size: var(--fs-ml);
	text-transform: capitalize;
	text-decoration: underline;
	font-weight: bold;
}
.skills__cont p,
.skills__cont li {
	font-size: var(--fs-text);
}
.skills__cont .skills__title + p {
	margin-top: 0.6em;
	line-height: 1.45;
}
.skills__cont li {
	margin-top: 0.4em;
	font-weight: 300;
}
.skills__list-title {
	margin-top: 1.3em;
}
/* Projets */
.projets > div:first-child {
	position: relative;
	isolation: isolate;
	padding-block: 5.5rem 4rem;
	color: var(--color-primary);
}
.projets > div:first-child {
	margin-bottom: 3rem;
}
.projets > div:first-child::after {
	content: "";
	background: var(--color-accent);
	position: absolute;
	inset: 0;
	z-index: -1;
	transform: skewY(4deg);
}
.projets > div:first-child::after {
	transform-origin: top left;
}
.projets .section__title {
	font-size: var(--fs-l);
	margin-bottom: 1.8em;
}
.projets > div:first-child p {
	margin-bottom: 1.35em;
	line-height: 1.4;
	text-wrap: balance;
}
.projets .cta-button {
	font-weight: 500;
}
.projets .section-padding-s:nth-of-type(1) .projets__title {
	margin-top: 4.5em;
}
.projets__title {
	font-size: var(--fs-ml);
	font-weight: bold;
	text-decoration: underline;
}
.projets__desc {
	font-size: var(--fs-m);
	font-weight: 400;
	margin-top: 0.85em;
}
.projets__desc ~ p {
	font-size: var(--fs-text);
	line-height: 1.45;
}
.projets__desc ~ p:first-of-type {
	margin-top: 1em;
}
.projets__desc ~ p:last-of-type {
	margin-bottom: 2.5em;
}
.projets__screens-cont {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 3rem 5rem;
}
.projets__screens-cont div {
	flex: 1 1 480px;
	display: flex;
	justify-content: center;
}
.separateur {
	width: min(85%, 800px);
	height: 5px;
	background-color: var(--color-accent);
	border-radius: 1rem;
	margin-inline: auto;
	font-size: var(--fs-ml);
	margin-block: 3em;
}
/* Expérience */
.experience {
	margin-top: 7rem;
}
.experience > div {
	padding-block: 5.5rem;
}
.experience > div:first-child p {
	margin-top: 2.5em;
	line-height: 1.45;
}
.experience__header {
	display: flex;
	flex-wrap: wrap;
}
.subtitle {
	font-size: var(--fs-ml);
	font-weight: bold;
	text-decoration: underline;
}
.subtitle ~ p {
	font-size: var(--fs-m);
	font-weight: 400;
	margin-top: 0.85em;
}
.experience__header > div:first-child {
	width: fit-content;
}
.experience__header .icons-cont {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5%;
	flex: 1 1 350px;
}
.experience__header .icons-cont div {
	flex: 1;
	max-width: 150px;
	position: relative;
}
.experience__header .icons-cont div::before {
	content: attr(data-name);
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	width: fit-content;
	text-align: center;
	background-color: var(--color-accent);
	color: var(--color-primary);
	font-size: var(--fs-text);
	font-weight: bold;
	padding: 0.3em 1em;
	border-radius: 10px;
	border: 3px solid var(--color-primary);

	transform: translate(0px, 3em);
	opacity: 0;
	transition: 0.3s;
}
.experience__header .icons-cont div:hover::before {
	transform: translate(0, 0);
	opacity: 1;
}
.experience__header .icons-cont div img {
	vertical-align: middle;
}
.experience article .experience__grid {
	display: grid;
	grid-template-columns: 3fr 4fr 3fr;
	gap: 3rem;
	margin-top: 3rem;
}
.experience__grid div {
	border-radius: clamp(16px, 2vw, 28px);
	font-size: var(--fs-text);
	color: var(--color-primary);
}
.experience__grid.stage-sf div:first-child,
.experience__grid.stage-sf div:nth-child(3),
.experience__grid.stage-sf div:nth-child(4),
.experience__grid.stage-tcheen div:nth-child(2),
.experience__grid.stage-tcheen div:nth-child(3) {
	padding: 0.8em;
}
.experience__grid.stage-sf div:first-child,
.experience__grid.stage-sf div:nth-child(4),
.experience__grid.stage-sf div:nth-child(5),
.experience__grid.stage-tcheen div:nth-child(2) {
	grid-column: span 2;
}
.experience__grid.stage-tcheen div:nth-child(3) {
	grid-column: span 3;
}

.experience__grid.stage-sf div:nth-child(2),
.experience__grid.stage-tcheen div:first-child {
	display: grid;
	place-items: center;
}
.experience__grid.stage-sf div:nth-child(2) {
	padding: 8%;
}
.experience__grid.stage-sf div:nth-child(5),
.experience__grid.stage-tcheen div:first-child {
	overflow: hidden;
}
.experience__grid.stage-sf div:nth-child(5) img {
	height: 100%;
	object-fit: cover;
	object-position: left;
	transition: 0.6s;
}
.experience__grid.stage-sf div:nth-child(5):hover img {
	object-position: right;
}
.experience__grid.stage-sf div:nth-child(2),
.experience__grid.stage-sf div:nth-child(5),
.experience__grid.stage-tcheen div:first-child {
	background-color: var(--color-primary);
	border: 3px solid var(--color-accent);
}
.experience__grid.stage-sf div:nth-child(3) {
	grid-row: span 2;
}
.experience__grid h4 {
	font-size: var(--fs-m);
	font-weight: bold;
	text-decoration: underline;
}
.experience__grid p:nth-child(n + 2) {
	margin-top: 0.5em;
}
/* Éducation, style de la timeline dans style-timeline.css */
.education {
	margin-block: 5.5rem;
}
.timeline {
	justify-items: center;
	padding-top: 3rem;
}
.timeline__cell .timeline__date {
	border-radius: var(--date-bubble-size);
	font-size: var(--fs-l);
	font-weight: bold;
	padding: 0.5em;
}
.timeline__cell .timeline__text {
	border-radius: 12px;
	box-shadow: -6px 6px 14px hsla(258, 85%, 40%, 30%);
	padding: 1.2rem;
	transition: scale 0.3s ease-in-out;

	&:hover {
		scale: 1.02;
	}
}
.timeline__cell .timeline__text h2 {
	text-transform: capitalize;
	font-size: var(--fs-m);
}
.timeline__cell .timeline__text h2 ~ p {
	margin-top: 1em;
	font-size: var(--fs-text);
}
